<footer>
    <div class="content-padding">
        <div class="footer-content">
            <p>Copyright &copy; Momchil Tsekov</p>

            <div class="social-media-icons">
                <a href="https://www.facebook.com/gledaidobarfilm/" target="_blank"><i class="fa fa-facebook-official"></i></a>
                <a href="https://twitter.com/gledaidobarfilm" target="_blank"><i class="fa fa-twitter-square"></i></a>
            </div>

        </div>
    </div>
</footer>